@keyframes pulse2 {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.user__Container__Notes {
    background-image: url(../images/cork.jpg);
    background-size: cover;
    border-style: ridge;
}

#pic1 {
    background-image: url(../images/addnote1.png);
    transform: rotate(5deg);
    margin-top: 20%;
}

#pic2 {
    background-image: url(../images/addnote2.png);
}

#pic2 > div {
    transform: rotate(6deg);
    
}
#pic3 {
    background-image: url(../images/addnote3.png);
    width: 85%;   
}
#pic4 {
    background-image: url(../images/addnote4.png);
}

#pic4 > div {
    transform: rotate(3deg);
}

#pic5 {
    background-image: url(../images/addnote5.png);
    margin-left: 7%;
}

#pic6 {
    background-image: url(../images/addnote6.png);
}

#pic6 > div {
    transform: rotate(-6deg);
}

#pic7 {
    background-image: url(../images/addnote7.png);
}

.note__Card_Container__Odd{
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 30vh;
    max-height: 90%;
    margin-bottom: 5%;
    width: 90%;
}

.note__Card_Container__Even{

    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 10vh;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
}

.note__Content {
    margin: 20% 15% 0 15%;
    font-family: 'Permanent Marker', cursive;
}

.notes__Scroll {
    margin-top: 10%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.notes__Holder {
    max-width: 50%;
    display: flex;
    flex-direction: row;
}

.today1 {
    margin-top: 2%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}
.today2 {
    margin-top: 1%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}
.today3 {
    margin-top: 7%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}
.today4 {
    margin-top: 1%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}
.today5 {
    margin-top: 7%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}
.today6 {
    margin-top: 1%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}
.today7 {
    margin-top: 7%;
    width: 20vw;
    height: 10vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
	transform: scale(1);
	animation: pulse2 2s infinite;
}

.add__Button__Container > p {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    margin-top: 5%;
}