.sunshine__Pic {
    height: 75vw;
}

.logout_Outline {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.returnTo__Login {
    color: black;
    font-size: 4vw;
}

.Thanks {
    font-size: 5vw;
}

.Adds {
    text-align: center;
}