
.bottom__Nav {
    background-color: white;
    border-top: ridge slategray 2px;
}
.navLink {
    padding: 7.1vw;
    color: black;
}
.navbar__Container {
    display: flex;
}

.center__Nav__Dashboard {
    width: 18vw;
}

.center__Nav__Garden {
    width: 17vw;
    margin: 0 -1vw 0 2vw;
}